# Carpetas de salida y compilación
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Dependencias (¡Crucial para que no pese gigabytes!)
/node_modules/
npm-debug.log
yarn-error.log

# Caché local de Angular
/.angular/

# Configuraciones del editor e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema
.DS_Store
Thumbs.db
