<div class="hero-container">
    
    <div class="texto-hero" [@entradaTexto]>
        <p class="Nombre">Mielcaffeto</p>
        <h1 class="frase-principal">De la colmena a tu mesa,</h1>
        <h1 class="frase-secundaria">miel pura y natural... 🍯🐝</h1>
        
    <div class="botones-container">
        <button class="btn-principal" routerLink="/productos">
           Nuestros Productos
        </button>
    
        <button class="btn-secundario" routerLink="/nosotros">
           Conoce nuestra historia
        </button>
    </div>
    
    </div>

    <div class="Imagen_inicio" [@entradaImagen]>
        <img src="assets/Imagenes/Imagen_Bebe_Milton.jpg" alt="Imagen_Bebe_Milton">
    </div>

</div>